<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Daily Challenge 10/29</h1>
        <p>Find out your speed using science and math with today's daily challenge! Measure out a 40 yard distance and
            time yourself to see how long it takes you to cross it. All you have to do is put in your time and solve for
            your speed for some extra points. Remember, to find velocity we simply have to divide the distance by the
            time it took to run it!</p>

        <!--<p>
            <input type="number" id="inputTime" class="form-control" placeholder="Time" required autofocus> seconds
            <input type="velocity" id="inputVelocity" class="form-control" placeholder="Velocity" required autofocus> yards/seconds
        </p>-->

        <form method="post" action="">
            <p><input type="number" name="time" min="0"> seconds</p>
            <p><input type="number" name="speed" min="0"> yards/seconds</p>
            <input type="submit" Submit>
        </form>
    </div>

</div> <!-- /container -->
