<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Daily Challenge 10/29</h1>
        <p>Find out your speed using science and math with today's daily challenge! Measure out a 40 yard distance and time yourself to see how long it takes you to cross it. All you have to do is put in your time and solve for your speed for some extra points. Remember, to find velocity we simply have to divide the distance by the time it took to run it!</p>

        <p>
          <input type="time" id="inputTime" class="form-control" placeholder="Time" required autofocus>
          <input type="velocity" id="inputVelocity" class="form-control" placeholder="Velocity" required autofocus>
        </p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script> -->