<div class="container">

    <div class="jumbotron">
        <img src="img/jumbotron-img.png">
    </div>

    <footer class="buttons">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-lg btn-default daily-challenge">DAILY CHALLENGE</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <button type="button" class="btn btn-lg btn-danger">START</button>
            </div>

            <div class="col-lg-6">
                <button type="button" class="btn btn-lg btn-danger" onclick="parent.location='/student-login'">LOGIN</button>
            </div>
        </div>

        <div class="p-container">
            <p>The Victor Cruz Foundation presents the STEM in Sports Mobile App as an initiative to further expand our
                mission to introduce STEM learning and Implementation to underrepresented youth via a digital platform. We
                hope through use of the application students will recognize the value of Science Technology Engineering and
                Math in our everyday life. “We must do all that we can, to give our children the best in education and
                social upbringing - for while they are the youth of today, they shall be the leaders of tomorrow”- John F.
                Kennedy</p>
        </div>

    </footer>


    <!-- <footer class="footer">
         <p>&copy; 2016 Company, Inc.</p>
     </footer>-->

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>