 <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Class 1</a></li>
            <li><a href="#">Class 2</a></li>
            <li><a href="#">Class 3</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Data Visualization</h1>
          <!--<div class="pie-chart-list">-->
            <div class="pre-scrollable">
            <!--<ul class="list-scroll">
              <li>
                <div class="col-sm-2">
                <img src="img/graph1.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                  <div class="title-text"><h4>Newton's Laws of Motion: <br>Part A</h4></div>
                  <span class="text-muted">90% Complete</span>
                </div>
              </li>
              <li>
                <div class="col-sm-2">
                  <img src="img/graph2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                  <h4>Newton's Laws of Motion: <br>Part B</h4>
                  <span class="text-muted">0% Complete</span>
                </div>
              </li>
              <li>
                <div class="col-sm-2">
                  <img src="img/graph2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                  <h4>Kinesiology</h4>
                  <span class="text-muted"><br>0% Complete</span>
                </div>
              </li>
              <li>
                <div class="col-sm-2">
                  <img src="img/graph2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                  <h4>Sound Waves</h4>
                  <span class="text-muted"><br>0% Complete</span>
                </div>
              </li>
              <li>
                <div class="col-sm-2">
                  <img src="img/graph2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                  <h4>Materials Science</h4>
                  <span class="text-muted"><br>0% Complete</span>
                </div>
              </li>
              <li>
                <div class="col-sm-2">
                  <img src="img/graph2.png" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                  <h4>Body Systems</h4>
                  <span class="text-muted"><br>0% Complete</span>
                </div>
              </li>
            </ul>-->

              <div class="row">
                  <div class="col-md-4">
                      <img src="img/Graph1.png">
                      <h4>Newton's Law of Motion: Part A</h4>
                      <p>90% Complete</p>
                  </div>

                  <div class="col-md-4">
                      <img src="img/Graph2.png">
                      <h4>Newton's Law of Motion: Part B</h4>
                      <p>0% Complete</p>
                  </div>

                  <div class="col-md-4">
                      <img src="img/Graph2.png">
                      <h4>Kinesiology</h4>
                      <p>0% Complete</p>
                  </div>
              </div>

              <div class="row">
                  <div class="col-md-4">
                      <img src="img/Graph2.png">
                      <h4>Sound Waves</h4>
                      <p>0% Complete</p>
                  </div>

                  <div class="col-md-4">
                      <img src="img/Graph2.png">
                      <h4>Materials Science</h4>
                      <p>0% Complete</p>
                  </div>

                  <div class="col-md-4">
                      <img src="img/Graph2.png">
                      <h4>Body Systems</h4>
                      <p>0% Complete</p>
                  </div>
              </div>

          </div>

          <h2 class="sub-header">Student Progress</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Newton's Laws of Motion Part A</th>
                  <th>Newton's Laws of Motion Part B</th>
                  <th>Kinesiology</th>
                  <th>Sound Waves</th>
                  <th>Materials Science</th>
                  <th>Body Systems</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Kyle Ong</td>
                  <td>90%</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>Ralphy Rios</td>
                  <td>80%</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
                <tr>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                  <td>-</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
