.navbar-fixed-top {
    background-color: white;
}

.container-header {
    font-size: 20px;
}

a.navbar-left {
    margin-left: 10px;
    font-size: 40px;
    color: #BE1E2D;
}

a.navbar-brand {
    max-width: 100%;
    max-height: 100%;
    padding: 0;
}

.navbar-brand img {
    height: 100%;
    width: auto;
}

.jumbotron {
    padding: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: white;
}

.jumbotron img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer.buttons {
    background-color: #11446F;
}

.p-container {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.p-container p {
    font-size: 25px;
    color: white;
}

.col-lg-6 {
    text-align: center;
    font-size: 60px;
}

.btn-lg {
    padding: 30px 42px;
    font-size: 46px;
    line-height: 2.66666;
    border-radius: 12px;
    margin: 30px;
}

.daily-challenge {
    color: #11446F;
}

.container {
    width: 100%;
}

/*
li {
    display: inline-block;
    width: 600px;
}

li img {
    width: 100%;
    height: auto;
}*/
.col-md-4{
    text-align: center;
}

.col-md-4 img {
    height: 200px;
    width: 200px;
}

.answer-feedback {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

